.Contador input {
    font-size: 1.5rem;
    width: 90px;
    border-style: solid;
    border-radius: 5px;
}

.Contador button {
    height:45px;
    width:45px;
    border-radius: 40%;
    border: none;
    margin: 5px;
    font-size: 1.7rem;
    background-color: #00B49A;
    color: rgb(255, 255, 255);
}